{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Django{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}
    <h1> this is my explain about Django</h1>
    <p>

Django was created in the fall of 2003, when the web programmers at the Lawrence Journal-World newspaper, Adrian Holovaty and Simon Willison, began using Python to build applications. Jacob Kaplan-Moss was hired early in Django's development shortly before Simon Willison's internship ended.
    </p>
    {% endblock %}
</body>
</html>